constants.py ident export-subst
/test export-ignore
/library export-ignore
cps/static/css/libs/* linguist-vendored
cps/static/js/libs/* linguist-vendored
*.sh text eol=lf
*.bash text eol=lf
*.env text eol=lf
*.conf text eol=lf
Dockerfile text eol=lf
*.yml text eol=lf
**/run text eol=lf